.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #A9D5FD;
        border-radius: 5px;
        width: 500px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 10px;
        padding: 20px;
        font-size: 12px;
}

.name {
        margin: 30px 350px 0px 350px;
        font-weight: bold;
}

.nickName {
        border: 1px solid #EBF0FF;
        border-radius: 5px;
        width: 140px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 760px;
        font-size: 13px;
        color: #949494;
}

.userName {
        margin-left: 5px;
}

.registerTitle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 480px;
        height: 50px;
        border: 1px solid #EBF0FF;
        border-radius: 5px;
        margin: 10px 0;
        font-weight: bold;
}

.info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 480px;
        height: 200px;
        border: 1px solid #EBF0FF;
        border-radius: 5px;
        margin: 10px 0;
}

.platform, .store, .sum, .num, 
.residence, .time, .location {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
}

.title {
        margin: 0px 20px;
        color: #949494;
}

.input {
        margin: 0 20px;
        border: none;
        width: 250px;
}

.content {
        border: 1px solid #EBF0FF;
        width: 480px;
        height: 250px;
}

.button {
        width: 100px;
        height: 40px;
        margin: 30px 0 10px 0;
}